.about {
  padding-top: 0px;
  .container-top {
    padding-top: 120px;
  }
  
  @media (min-width: 1400px) {
    .container-top {
      max-width: 1550px;
    }
  }
  .border-primary{
    border: 1px solid $primary;
  }
  .name {
    font-weight: bold;
    &:after {
      content: "";
      width: 50px;
      height: 4px;
      border-radius: 30px;
      background-color: currentColor;
      margin: 1rem auto;
      display: block;
      margin-left: 0px;
    }
  }
  .name {
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    &:after {
      margin-left: 0;

      margin-top: 30px;
      width: 60px;
      height: 5px;
    }
  }
  .name-shweta {
    &:after {
      margin-right: 0px;
      margin-left: auto;
    }
  }
  .big-text {
    font-size: 120px;
    opacity: 1;
  }
  .big-text-banner {
    position: relative;
    height: 30px;
    width: 100%;
    font-size: 200px;
    letter-spacing: 40px;
    font-weight: 700;
    opacity: 0.1;
  }
  .banner {
    padding-top: 0;
    background: $primary;
    img {
      width: 100%;
    }
  }
  .banner-team{
    padding-top: 60px;
  }
  .banner-left {
    padding: 130px 0 130px 80px;
    p {
      font-size: 16px;
      line-height: 2;
    }
  }
  .logo-floating {
    width: 100%;
    @include desktop {
      height: 302px;
      width: auto;
      position: absolute;
      top: 192px;
      right: 10%;
    }
  }
  .inner {
    padding: 40px 80px;
  }

  @include desktop {
    .inner-left {
      max-width: 570px;
      margin-left: auto;
    }

    .inner-right {
      max-width: 570px;
      margin-right: auto;
    }
  }
  .big-text-right {
    margin-right: -22px;
  }
  .m-info {
    font-size: 20px;
    letter-spacing: 4px;
  }
  .margin-tb{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
