.careers {
  padding-top: 120px;
  img {
    width: 100%;
    display: block;
    margin-top: 4rem;
    @include desktop {
      position: absolute;
      bottom: 4.3rem;
      width: 700px;
      right: 0;
    }
  }
  .form-control {
    border-color: $primary;
  }
  label, span {
    color: $primary;
    opacity: 0.4;
    font-size: 18px;
    line-height: 16px;
  }
  .browse{
    opacity: 1 !important;
    line-height: 26px;
  }
}
