.contact {
  .form-control {
    border-color: $primary;
  }
  label {
    color: $primary;
  }
  padding-top: 120px;
  .top-image {
    width: 100%;
    display: block;
    margin-top: 4rem;
    @include desktop {
      position: absolute;
      bottom: 4.3rem;
      width: 700px;
      right: 0;
    }
  }
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
}
