.contact {
  .form-control {
    border-color: $primary;
    border-radius: 0;
  }
  label {
    color: $primary;
    opacity: 0.4;
    font-size: 18px;
    line-height: 16px;
  }
  padding-top: 120px;
  .top-image {
    width: 100%;
    display: block;
    margin-top: 4rem;
    @include desktop {
      position: absolute;
      bottom: 4.3rem;
      width: 800px;
      right: 0;
    }
  }
  #map {
    height: 300px;
    width: 100%;
  }
  .address-section {
    .icon-before {
      font-size: 20px;
      line-height: 26px;
      a {
        text-decoration-color: #fff;
      }
      .icon-footer {
        top: 7px;
      }
    }
  }
  .head {
    font-size: 3.25rem;
  }
  .padding-side {
    padding-right: 4rem !important;
  }
  .border-bottom-contact {
    border-bottom: 1px solid $primary;
    margin-bottom: 2rem;
    opacity: 0.5;
  }
}
