.contact {
  .form-control {
    border-color: $primary;
  }
  label {
    color: $primary;
  }
  padding-top: 120px;
  .top-image {
    width: 100%;
    display: block;
    margin-top: 4rem;
    @include desktop {
      position: absolute;
      bottom: 4.3rem;
      width: 700px;
      right: 0;
    }
  }
  #map {
    height: 300px;
    width: 100%;
  }
  .address-section {
    .icon-before {
      font-size: 16px;
    }
  }
}
