footer {
  * {
    color: white;
  }
  a {
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  .top-section {
    background: $primary;
    padding: 50px 0;
  }
  .bottom-section {
    padding: 15px 0;
    background: #9a3053;
    * {
      font-size: 11px;
      font-weight: 500;
      color: #e2d2d7;
    }
  }

  .footer-logo {
    width: 50%;
    margin: auto;
    display: block;
    @include desktop {
      width: 60%;
    }
  }
  .f-title {
    margin-bottom: 1.5rem;
  }
  .social {
    a {
      margin-right: 15px;
      font-size: 20px;
    }
  }
  .f-grid {
    .grid-item {
      margin-bottom: 3rem;
      & > a {
        margin-bottom: 0.5rem;
      }
    }
    @include desktop {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 2fr 1fr 2fr;
    }
  }
}
