.navbar {
  a {
    font-size: 18px;
    text-transform: uppercase;
  }
  a.active {
    font-weight: bold;
  }
  background-color: white;
}
.home,
.about,
.spine {
  .navbar {
    background-color: $primary;
  }
}
.home,
.about {
  .navbar a {
    color: white;
  }
}
