.profile {
  padding: 2rem 0;
  img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .big-text {
    font-size: 80px;
    /* position: absolute; */
    top: 0;
    /* z-index: -1; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    font-weight: bold;
    letter-spacing: 15px;
    opacity: 0.3;
    line-height: 1;
  }
  .position {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 15px;
    letter-spacing: 3px;
  }
  .name {
    font-weight: bold;
    &:after {
      content: "";
      width: 50px;
      height: 4px;
      border-radius: 30px;
      background-color: currentColor;
      margin: 1rem auto;
      display: block;
    }
  }
  @include desktop {
    //min-height: 500px;
    margin: 0;
    padding: 0;
    .inner {
      padding: 2rem 0;
    }
    img {
      position: absolute;
      right: 0;
      width: 500px;
      bottom: 0;
    }
    .big-text {
      font-size: 160px;
      letter-spacing: 22px;
    }
    .position {
      margin-bottom: 7rem;
      font-size: 30px;
    }
    .name {
      font-size: 28px;
      line-height: 1.3;
      &:after {
        margin-left: 0;
      }
    }
    .m-info {
      font-size: 18px;
    }
  }
  &.dr-nisrag {
  }
  &.dr-sweta {
    @include desktop {
      .big-text {
        margin-right: -22px;
      }
      .name {
        &:after {
          margin-right: 0;
          margin-left: auto;
        }
      }
      img {
        right: auto;
        left: 0;
      }
    }
  }
}
