.spine-mind-banner {
  .container {
    padding-top: 4rem;
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1550px;
    }
  }
  .inner {
    padding-left: 4rem;
  }
  .big-text {
    font-size: 130px;
    opacity: 0.3;
  }
  p {
    margin-top: 2rem;
    line-height: 2;
    font-size: 18px;
    @include desktop {
      padding-bottom: 120px;
    }
  }
  img {
    width: 100%;
    @include desktop {
      width: 810px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &.spine-banner {
    * {
      color: white;
    }
  }
}
