<div  class="profile dr-nisrag text-primary">
	<div class="container relative ">
	<img src="./img/1.png">
	<div class="inner text-center text-lg-start">
		<h1 class="big-text big-text-white">Spine</h1>
		<h2 class="position">
			Chief &nbsp;Physician
		</h2>
		<h3 class="name relative">
			Dr. Nisarg <br class="d-none d-lg-block"/>Parikh(M.S. Ortho, A.O. Spine Fellow)
		</h3>
		<div class="m-info">Consultant Spine Surgeon<br>Endoscopic-Minimally Invasive Spine Surgeon<br>Spine Fellowships: India, Italy, Germany</div>
	</div>
</div>
	</div>
