<footer>
	<div class="top-section">
		<div class="container">
			<div class="f-grid">
				<div class="grid-item">
					<h4 class="f-title">Explore</h4>
					<a href="/" class="d-block">Home</a>
					<a href="{{root}}about.html" class="d-block">About</a>
					<a href="{{root}}career.html" class="d-block">Career</a>
					<a href="{{root}}contact.html" class="d-block">Contact</a>
				</div>
				<div class="grid-item">
					<h4 class="f-title">Quick Links</h4>
					<a href="{{root}}spine.html" class="d-block">Spine</a>
					<a href="{{root}}mind.html" class="d-block">Mind</a>
				</div>
				<div class="grid-item">
					<h4 class="f-title">Get in Touch</h4>
					<div class="icon-before one-rem-mb">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						503, Golden Icon,<br/>
						Nr. Someshwar Jain Temple Cross,<br/>
						132 Feet Ring Rd, Nr. Shyamal,<br/>
						Ahmedabad, Gujarat 380015
					</div>
					<div class="icon-before one-rem-mb">
						<i class="fa fa-phone" aria-hidden="true"></i>
						079 4019 3600, +91 90993 87037
					</div>
					<div class="icon-before">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						swastispineandmindcare@gmail.com
					</div>
				</div>
				<div class="grid-item social">
					<h4 class="f-title">Follow us On</h4>
					<a href="#" class=""><i class="fa fa-facebook" aria-hidden="true"></i> </a>
					<a href="#" class=""><i class="fa fa-instagram" aria-hidden="true"></i> </a>
					<a href="#" class=""><i class="fa fa-youtube-play" aria-hidden="true"></i> </a>
				</div>
				<div class="grid-item">
					<img class="footer-logo" src="img/SwastiLogo.png">
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-section">

		<div class="container">
			<div class="row">
				<div class="col-6 col-lg-2 text-center text-lg-start">
					<a href="#" class="d-block text-uppercase">Terms and Conditions</a>
				</div>
				<div class="col-6 col-lg-2  text-center text-lg-start">
					<a href="#" class="d-block text-uppercase">Privacy Policy</a>
				</div>
				<div class="col-12 col-lg-4   text-center text-lg-start">
					<a href="#" class="d-block text-uppercase">Designed by Rede Design Studio</a>
				</div>
				<!--<div class="col-12 col-lg-2">-->
					<!--<a href="#" class="d-block text-uppercase">Developed by Gautam Naik</a>-->
				<!--</div>-->
				<div class="col-12 col-lg-4 text-center text-lg-end">
					<a href="#" class="d-block text-uppercase ">&copy;Swasti Spine & Mind Care 2021 - All
						rights reserved </a>
				</div>
			</div>
		</div>
	</div>
</footer>
