<footer>
	<div class="top-section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4>Explore</h4>
					<a href="#" class="d-block">Home</a>
					<a href="#" class="d-block">Home</a>
					<a href="#" class="d-block">Home</a>
					<a href="#" class="d-block">Home</a>
				</div>
				<div class="col-12">
					<h4>Quick Links</h4>
					<a href="#" class="d-block">Spine</a>
					<a href="#" class="d-block">Mind</a>
				</div>
				<div class="col-12">
					<h4>Get in Touch</h4>
					<div class="icon-before">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						503, Golden Icon,
						Nr. Someshwar Jain Temple Cross,
						132 Feet Ring Rd, Nr. Shyamal,
						Ahmedabad, Gujarat 380015
					</div>
					<div class="icon-before">
						<i class="fa fa-phone" aria-hidden="true"></i>
						079 4019 3600, +91 90993 87037
					</div>
					<div class="icon-before">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						swastispineandmindcare@gmail.com
					</div>
				</div>
				<div class="col-12">
					<h4>Follow us On</h4>
					<a href="#" class=""><i class="fa fa-facebook" aria-hidden="true"></i> </a>
					<a href="#" class=""><i class="fa fa-instagram" aria-hidden="true"></i> </a>
					<a href="#" class=""><i class="fa fa-youtube-play" aria-hidden="true"></i> </a>
				</div>
				<div class="col-12"></div>
			</div>
		</div>
	</div>
	<div class="bottom-section">

	</div>
</footer>
