<div class="banner spine-mind-banner ">
	<div class="container relative">
		<div class="col-12 col-lg-6 inner">
			<h1 class="big-text text-primary">Mind</h1>
			<p class="text-primary">
				Mental health plays an utmost important role for a healthy life. The mind has a huge impact
				on the functioning of the body (physical aspects). Mental health, if affected causes
				worsening in the existing medical illnesses or also leads to development of physical
				ailments. Mental illness causes severe impairment in social and occupational functioning.
				<br />
				<br />
				Mental health deals with psychological(mind) and biological(brain) aspects.<br />
<br />
The mind is the set of faculties including cognitive aspects such as consciousness,
imagination, perception, thinking, intelligence, judgement, language and memory, as well as
noncognitive aspects such as emotion and instinct.<br />
<br />
The mind is closely linked to the brain, that is, the emotions, thoughts and cognitive
processes are biological and regulated by neurochemicals in the brain. Just like other
physical medical illnesses, mental illnesses have biological basis and need medical
treatment.
			</p>
		</div>
		<img src="./img/mind.png">
	</div>
</div>