<div class="banner spine-mind-banner ">
	<div class="container relative">
		<div class="col-12 col-lg-6">
			<h1 class="big-text">Mind</h1>
			<p>
			The spine is one of the most important parts of your body. Without it, you could not keep yourself upright or even stand up. It gives your body structure and support. It allows you to move about freely and to bend with flexibility. The spine is also designed to protect your spinal cord.
			<br/>
			<br/>
			The spinal cord is a column of nerves that connects your brain with the rest of your body, allowing you to control your movements. Without a spinal cord, you could not move any part of your body, and your organs could not function. This is why keeping your spine healthy is vital if you want to live an active life.
			</p>
		</div>
		<img src="./img/mind.png">
	</div>
</div>
