<div class="banner spine-mind-banner ">
	<div class="container relative">
		<div class="col-12 col-lg-6 inner">
			<h1 class="big-text text-primary">Mind</h1>
			<p class="text-primary">
				The mind is the set of faculties including cognitive aspects such as consciousness, imagination,
				perception, thinking, intelligence, judgement, language and memory, as well as noncognitive aspects such
				as emotion and instinct.
				<br />
				<br />
				The mind is closely linked to the brain, that is, the emotions, thoughts and cognitive processes are
				biological and regulated by neurochemicals in the brain. Just like other physical medical illnesses,
				mental illnesses have biological basis and need medical treatment too.
				<br />
				<br />
				Mental health plays an important role for a healthy life as the mind has a huge impact on the
				functioning of the body (physical aspects).
				<br />
				<br />
				Mental health, if affected, causes worsening in the existing medical illnesses or can also lead to
				development of physical ailments. If not treated timely, a mental illness can cause severe impairment in
				social and occupational functioning of an individual as it deals with the psychological(mind) as well as
				the biological(brain) aspects of a person.

			</p>
		</div>
		<img src="./img/mind.png">
	</div>
</div>