<nav class="navbar fixed-top justify-content-center">
		<a class="nav-link {{#ifpage 'index'}} active{{/ifpage}} " href="/">Home</a>
    <a class="nav-link {{#ifpage 'about'}} active{{/ifpage}} "href="{{root}}aboutus.html">About Us</a>
		<a class="nav-link {{#ifpage 'careers'}} active{{/ifpage}} "href="{{root}}careers.html">Careers</a>
		<a class="nav-link {{#ifpage 'spine'}} active{{/ifpage}} "href="{{root}}spine.html">Spine </a>
    <a class="nav-link {{#ifpage 'mind'}} active{{/ifpage}} "href="#">Mind</a>
    <a class="nav-link {{#ifpage 'contact'}} active{{/ifpage}} "href="{{root}}contactus.html">Contact Us</a>
</nav>
