<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <a class="nav-link {{#ifpage 'index'}} active{{/ifpage}} " href="{{root}}index.html">Home</a>
    <a class="nav-link {{#ifpage 'about'}} active{{/ifpage}} " href="{{root}}about.html">About Us</a>
    <a class="nav-link {{#ifpage 'careers'}} active{{/ifpage}} " href="{{root}}careers.html">Careers</a>
    <a class="nav-link {{#ifpage 'spine'}} active{{/ifpage}} " href="{{root}}spine.html">Spine </a>
    <a class="nav-link {{#ifpage 'mind'}} active{{/ifpage}} " href="{{root}}mind.html">Mind</a>
    <a class="nav-link {{#ifpage 'contact'}} active{{/ifpage}} " href="{{root}}contact.html">Contact Us</a>
  </div>
</nav>