<div class="banner spine-mind-banner brand-bg">
	<div class="container relative">
		<div class="col-12 col-lg-6 inner">
			<h1 class="big-text big-text-pink">Spine</h1>
			<p>
				Spine is one of the most crucial and complex structure of the body. This is the only organ which can
				provide stability and flexibility to our body at the same time as it forms the core of our skeletal
				system. Because of its complexity, subtle changes in its structure can lead to major problems. It gives
				support to entire body, provides stability by transferring weight from torso to pelvis to legs. It is
				also a major shock absorbing structure and disc between two vertebral bodies is the most crucial
				structure providing shock absorption. Another crucial function is protection of spinal cords and nerves.
				Spinal cord traverses through the entire length of vertebral column.
				<br />
				<br />
				At ‘Swasti’, we understand how something often dismissed as 'only back pain' can have a massive impact
				on quality of life. And we provide expertise and excellence in non-operative as well as operative
				management of any kind of spine disorders.
			</p>
		</div>
		<img src="./img/spine.png">
	</div>
</div>