<div class="container testemonials ">
	<h2 class="text-center text-primary four-rem-mt four-rem-mb bold">Testemonials</h2>
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="testemonial-item row align-items-center">
					<div class="col-12 col-lg-7 text-center">
						<img src="./img/facilities.png">
					</div>
					<div class="col-12 col-lg-5 quote relative">
						<img class="quotes-img" src="./img/quotes.png">
						Sit voluptatem labore sequi temporibus beatae? Id tempore error accusamus et quam ullam. Possimus unde ipsa animi quidem magnam dolorum sapiente Neque ducimus est ipsa cupiditate ullam Sunt blanditiis temporibus.
					</div>
				</div>
			</div>
			{{#repeat 2}}

			<div class="carousel-item ">
				<div class="testemonial-item row align-items-center">
					<div class="col-12 col-lg-7 text-center">
						<img src="./img/facilities.png">
					</div>
					<div class="col-12 col-lg-5 quote relative">
						<img class="quotes-img" src="./img/quotes.png">
						Sit voluptatem labore sequi temporibus beatae? Id tempore error accusamus et quam ullam. Possimus unde ipsa animi quidem magnam dolorum sapiente Neque ducimus est ipsa cupiditate ullam Sunt blanditiis temporibus.
					</div>
				</div>
			</div>
				  {{/repeat}}
		</div>
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
	</div>
</div>
