@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin notDesktop {
  @media (max-width: #{$desktop-width - 0.02}) {
    @content;
  }
}

%increase-touch-area {
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
  }
}
